<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<div th:text="${list}"></div>
<div th:text1="${maPP}"></div>-->

<div class="container">
    <form action="/point/new3" method="post">
        <button type="submit">다음</button>
    </form>
</div>

<style>
    .canvas-container {
        position: relative;
    }
    #myCanvas,
    #myCanvas2 {
        position: absolute;
        top: 0;
        left: 0;
    }

    #myCanvas {
        z-index: 2;
    }

    #myCanvas2 {
        z-index: 1;
    }
</style>

<div class="canvas-container">
    <canvas id="myCanvas" width="500" height="500"></canvas>
    <canvas id="myCanvas2" width="500" height="500"></canvas>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.write("Hello World!");
    function search()   {
        document.write("Hello World2!");
    }
    search();
    const aaa = /*[[${list}]]*/;
    <!--document.write(aaa);-->

    const image = new Image();
    image.src = /*[[${maPP}]]*/;

    const canvas2 = document.getElementById('myCanvas2');
    const ctx2 = canvas2.getContext('2d');
    image.addEventListener('load', () => {
        const aspectRatio = image.width / image.height;
        let scaledWidth = canvas2.width;
        let scaledHeight = canvas2.height;
        if (aspectRatio > 1) {
            scaledHeight = canvas2.width / aspectRatio;
        } else {
            scaledWidth = canvas2.height * aspectRatio;
        }
        ctx2.drawImage(image, 0, 0, scaledWidth, scaledHeight);
    });

    const canvas = document.getElementById('myCanvas');
    const ctx = canvas.getContext('2d');
    const shortestPathNodes = aaa;
    const nodePositions = {
        A: { x: 50, y: 50 },
        B: { x: 100, y: 100 },
        C: { x: 150, y: 50 },
        D: { x: 200, y: 100 },
        E: { x: 250, y: 50 },
        F: { x: 300, y: 100 },
        G: { x: 350, y: 50 },
        4001: { x: 35, y: 170 },
        4010: { x: 75, y: 170 },
        4020: { x: 93, y: 170 },
        4021: { x: 65, y: 210 },
        438: { x: 75, y: 150 },
        439: { x: 75, y: 125 },
        440: { x: 75, y: 100 },
        441: { x: 75, y: 75 },
        4011: { x: 117, y: 170 },
        401: { x: 117, y: 185 },
        402: { x: 117, y: 205 },
        433: { x: 117, y: 150 },
        434: { x: 117, y: 130 },
        435: { x: 117, y: 110 },
        436: { x: 117, y: 90 },
        437: { x: 117, y: 70 },
        403: { x: 170, y: 170 },
        404: { x: 185, y: 170 },
        405: { x: 200, y: 170 },
        4012: { x: 210, y: 170 },
        430: { x: 210, y: 150 },
        431: { x: 210, y: 120 },
        432: { x: 210, y: 80 },
        4013: { x: 210, y: 58 },
        4015: { x: 228, y: 58 },
        449: { x: 228, y: 58 },
        448: { x: 260, y: 58 },
        447: { x: 320, y: 58 },
        4014: { x: 343, y: 58 },
        4016: { x: 360, y: 58 },
        4018: { x: 374, y: 58 },
        446: { x: 374, y: 58 },
        445: { x: 430, y: 58 },
        406: { x: 235, y: 170 },
        407: { x: 250, y: 170 },
        408: { x: 265, y: 170 },
        409: { x: 300, y: 170 },
        410: { x: 315, y: 170 },
        411: { x: 330, y: 170 },
        4017: { x: 343, y: 170 },
        424: { x: 343, y: 80 },
        422: { x: 343, y: 120 },
        420: { x: 343, y: 150 },
        4019: { x: 375, y: 170 },
        412: { x: 380, y: 170 },
        413: { x: 395, y: 170 },
        414: { x: 410, y: 170 },
        419: { x: 374, y: 70 },
        418: { x: 374, y: 90 },
        417: { x: 374, y: 110 },
        416: { x: 374, y: 130 },
        415: { x: 374, y: 150 },
        630: { x: 220, y: 70 },
        631: { x: 205, y: 70 },
        608: { x: 205, y: 90 },
        609: { x: 205, y: 107 },
        611: { x: 250, y: 70 },
        629: { x: 250, y: 70 },
        627: { x: 310, y: 70 },
        6001: { x: 337, y: 70 },
        615: { x: 337, y: 90 },
        616: { x: 337, y: 110 },
        617: { x: 337, y: 130 },
        618: { x: 337, y: 150 },
        6002: { x: 360, y: 70 },
        623: { x: 381, y: 70 },
        619: { x: 381, y: 90 },
        620: { x: 381, y: 110 },
        621: { x: 381, y: 130 },
        622: { x: 381, y: 150 },
        6006: { x: 67, y: 193 },
        6005: { x: 76, y: 168 },
        601: { x: 76, y: 140 },
        607: { x: 76, y: 120 },
        606: { x: 76, y: 90 },
        6020: { x: 95, y: 90 },
        602: { x: 95, y: 168 },
        6004: { x: 113, y: 168 },
        603: { x: 125, y: 168 },
        604: { x: 113, y: 130 },
        605: { x: 113, y: 90 },
        729: { x: 220, y: 70 },
        7001: { x: 204, y: 70 },
        708: { x: 204, y: 90 },
        709: { x: 204, y: 110 },
        710: { x: 204, y: 130 },
        711: { x: 204, y: 150 },
        7002: { x: 233, y: 70 },
        712: { x: 233, y: 90 },
        713: { x: 233, y: 120 },
        714: { x: 233, y: 150 },
        728: { x: 250, y: 70 },
        727: { x: 303, y: 70 },
        7003: { x: 337, y: 70 },
        715: { x: 337, y: 90 },
        716: { x: 337, y: 110 },
        717: { x: 337, y: 130 },
        718: { x: 337, y: 150 },
        7004: { x: 357, y: 70 },
        726: { x: 380, y: 70 },
        719: { x: 380, y: 90 },
        720: { x: 380, y: 110 },
        721: { x: 380, y: 130 },
        722: { x: 380, y: 150 },
        725: { x: 405, y: 70 },
        724: { x: 440, y: 70 },
        723: { x: 460, y: 70 },
        7006: { x: 67, y: 193 },
        7005: { x: 76, y: 168 },
        701: { x: 76, y: 140 },
        707: { x: 76, y: 120 },
        706: { x: 76, y: 90 },
        7009: { x: 95, y: 90 },
        702: { x: 95, y: 168 },
        7008: { x: 113, y: 168 },
        703: { x: 125, y: 168 },
        704: { x: 113, y: 130 },
        705: { x: 113, y: 90 },
        3001: { x: 63, y: 170 },
        3002: { x: 48, y: 210 },
        333: { x: 63, y: 150 },
        332: { x: 63, y: 130 },
        331: { x: 63, y: 90 },
        330: { x: 63, y: 75 },
        329: { x: 63, y: 58 },
        328: { x: 63, y: 58 },
        327: { x: 80, y: 58 },
        334: { x: 80, y: 170 },
        335: { x: 95, y: 170 },
        3003: { x: 108, y: 170 },
        324: { x: 108, y: 150 },
        325: { x: 108, y: 110 },
        326: { x: 108, y: 70 },
        3004: { x: 108, y: 58 },
        342: { x: 165, y: 58 },
        341: { x: 185, y: 58 },
        340: { x: 208, y: 58 },
        301: { x: 120, y: 170 },
        303: { x: 160, y: 170 },
        304: { x: 175, y: 170 },
        305: { x: 190, y: 170 },
        3005: { x: 208, y: 170 },
        306: { x: 225, y: 170 },
        307: { x: 235, y: 170 },
        321: { x: 208, y: 70 },
        322: { x: 208, y: 130 },
        323: { x: 208, y: 150 },
        339: { x: 235, y: 58 },
        320: { x: 235, y: 80 },
        319: { x: 235, y: 130 },
        338: { x: 330, y: 58 },
        3007: { x: 347, y: 58 },
        337: { x: 364, y: 58 },
        336: { x: 450, y: 58 },
        316: { x: 364, y: 75 },
        315: { x: 364, y: 95 },
        314: { x: 364, y: 115 },
        308: { x: 290, y: 170 },
        309: { x: 310, y: 170 },
        3006: { x: 330, y: 170 },
        318: { x: 330, y: 80 },
        317: { x: 330, y: 130 },
        313: { x: 364, y: 135 },
        312: { x: 364, y: 155 },
        310: { x: 364, y: 170 },
        311: { x: 385, y: 170 },
        512: { x: 385, y: 170 }
    };
    ctx.lineWidth = 3;
    ctx.strokeStyle = '#FF0000';

    ctx.beginPath();

    ctx.moveTo(nodePositions[shortestPathNodes[0]].x, nodePositions[shortestPathNodes[0]].y);

    for (let i = 1; i < shortestPathNodes.length; i++) {
        const currentNode = nodePositions[shortestPathNodes[i]];
        ctx.lineTo(currentNode.x, currentNode.y);
    }

    ctx.stroke();
    /*]]>*/
</script>
</body>
</html>